.btn {
    padding: 0.5rem 1rem; /* 8px 16px */
    text-align: center;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn.block {
    width: 100%;
}

.btn.btn-wt {
    background-color: white;
    border: 2px solid transparent;
    color: black;
}

.btn.btn-wt svg {
    fill: black !important;
    color: black !important;
}

.btn.btn-ww {
    background-color: white;
    border: 2px solid white;
    color: black;
}

.btn.btn-ww svg {
    fill: black !important;
    color: black !important;
}

.btn.btn-wb {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.btn.btn-wb svg {
    fill: black !important;
    color: black !important;
}

.btn.btn-bb {
    background-color: black;
    border: 2px solid black;
    color: white;
}

.btn.btn-bb svg {
    fill: white !important;
    color: white !important;
}

.btn_form-btn-bb{
    background-color: black;
    border: 2px solid black;
    color: white;
    border-radius: 4px; 
    width: 100%;
}